{% extends 'base.html' %}
{% load static %}

{% block main %}


<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'index' %}">Home</a></li>
							<li><a href="/{{category.lower}}">{{category}}</a></li>
<!--							<li><a href="#">Accessories</a></li>-->
<!--							<li class="active">Headphones (227,490 Results)</li>-->
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- ASIDE -->
					<div id="aside" class="col-md-3">
						<!-- aside Widget -->
						<!-- /aside Widget -->

						<!-- aside Widget -->
						<form method="GET">
							<div class="aside">
								<h3 class="aside-title">Price</h3>
								<div class="price-filter">
									<div id="price-slider"></div>
									<div class="input-number price-min">
										<input id="price-min" type="number" value="1" min="1" max="5000" name="price-min">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
									<span>-</span>
									<div class="input-number price-max">
										<input id="price-max" type="number" min="1" max="5000" value="1" name="price-max">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
							</div>
							<!-- /aside Widget -->

							<!-- aside Widget -->
							{% if child_categories %}
							<div class="aside">
								<h3 class="aside-title">Category</h3>
								<div class="checkbox-filter">
									<div class="input-checkbox">
										<input type="checkbox" id="brand-1" name="headphones" {% if headphones_checked %} checked {% endif %}>
										<label for="brand-1">
											<span></span>
											Headphones
											<small></small>
										</label>
									</div>
									<div class="input-checkbox">
										<input type="checkbox" id="brand-2" name="chargers" {% if chargers_checked %} checked {% endif %}>
										<label for="brand-2">
											<span></span>
											Chargers
											<small></small>
										</label>
									</div>
									<div class="input-checkbox">
										<input type="checkbox" id="brand-3" name="smart-watches" {% if smart_watches_checked %} checked {% endif %}>
										<label for="brand-3">
											<span></span>
											Smart watches
											<small></small>
										</label>
									</div>
								</div>
							</div>
							{% else %}
							<div class="aside">
								<h3 class="aside-title">Brand</h3>
								<div class="checkbox-filter">
									<div class="input-checkbox">
										<input type="checkbox" id="brand-1">
										<label for="brand-1">
											<span></span>
											SAMSUNG
											<small>(578)</small>
										</label>
									</div>
									<div class="input-checkbox">
										<input type="checkbox" id="brand-2">
										<label for="brand-2">
											<span></span>
											LG
											<small>(125)</small>
										</label>
									</div>
									<div class="input-checkbox">
										<input type="checkbox" id="brand-3">
										<label for="brand-3">
											<span></span>
											SONY
											<small>(755)</small>
										</label>
									</div>
									<div class="input-checkbox">
										<input type="checkbox" id="brand-4">
										<label for="brand-4">
											<span></span>
											SAMSUNG
											<small>(578)</small>
										</label>
									</div>
									<div class="input-checkbox">
										<input type="checkbox" id="brand-5">
										<label for="brand-5">
											<span></span>
											LG
											<small>(125)</small>
										</label>
									</div>
									<div class="input-checkbox">
										<input type="checkbox" id="brand-6">
										<label for="brand-6">
											<span></span>
											SONY
											<small>(755)</small>
										</label>
									</div>
								</div>
							</div>
							{% endif %}
							<!-- /aside Widget -->
							<button class="add-to-cart-btn" style="margin: 10px 20px; padding: 7px 20px; color: white; background-color: rgb(139, 66, 167); border: none; border-radius: 2%; font-weight: bold" >APPLY</button>
							<!-- aside Widget -->
							<div class="aside">
								<h3 class="aside-title">Top selling</h3>
								{% for product in top_selling %}
								<div class="product-widget">
									<div class="product-img">
										<img src="{{product.image.url}}" alt="{{product.name}}">
									</div>
									<div class="product-body">
										<p class="product-category">{{product.category.name}}</p>

											<a href="{% url 'product' product_id=product.id category=product.category.name%}">
												<h3 class="product-name">{{product.name}}</h3>
											</a>
											<h4 class="product-price">${{product.price}}<del class="product-old-price">${{product.price}}</del></h4>
										</a>
									</div>
								</div>
								{% endfor %}
							</div>
							<!-- /aside Widget -->
						</div>
						<!-- /ASIDE -->

						<!-- STORE -->
						<div id="store" class="col-md-9">
							<!-- store top filter -->

							<div class="store-filter clearfix">
								<div class="store-sort">
									<label>
										Sort By:
										<select class="input-select" name="sorting">
											<option value="none" {% if request.GET.sorting == "none" %} selected {% endif %} >None</option>
											<option value="asc-price" {% if request.GET.sorting == "asc-price" %} selected {% endif %}>Ascending price</option>
											<option value="desc-price" {% if request.GET.sorting == "desc-price" %} selected {% endif %}>Descending price</option>
										</select>
										<button type="submit" class="input-select" style="background-color: rgb(139, 66, 167); color: white; font-weight: bold">Accept</button>
									</label>
								</div>
							</div>
					</form>
						<!-- /store top filter -->

						<!-- store products -->
						<div class="row">
							<!-- product -->
							{% if not products %}
								<h4 style="text-align: center">Nothing interesting there...</h4>
							{% else %}
							{% for product in products %}
							<div class="col-md-4 col-xs-6">
								<div class="product">
									<div class="product-img">
										<img src="{{product.image.url}}" alt="">
										<div class="product-label">
											<span class="sale">-30%</span>
											<span class="new">NEW</span>
										</div>
									</div>
									<div class="product-body">
										<p class="product-category">{{product.category}}</p>
										<h3 class="product-name"><a href="{% url 'product' product_id=product.id category=product.category.name%}">{{product.name}}</a></h3>
										<h4 class="product-price">${{product.price}} <del class="product-old-price">$990.00</del></h4>
										<div class="product-rating">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
										<div class="product-btns">
											<button class="add-to-wishlist" id-product="{{product.id}}">{% if product.in_wishlist %}<i class="fa fa-heart"></i>{% else %}<i class="fa fa-heart-o"></i>{% endif %}<span class="tooltipp">add to wishlist</span></button>
										</div>
									</div>
									<div class="add-to-cart">
										<a href="{% url 'product' product_id=product.id category=product.category.name%}">
											<button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>Details</button>
										</a>
									</div>
								</div>
							</div>
							<!-- /product -->
							{% endfor %}
							{% endif %}
						</div>
						<!-- /store products -->
						{% if products %}
						<!-- store bottom filter -->
						<div class="store-filter clearfix">
							<span class="store-qty">Showing 20-100 products</span>
							<ul class="store-pagination">
								{% if page_number != 1%}
									<li><a href="?page={{products.previous_page_number}}"><i class="fa fa-angle-left"></i></a></li>
								{% endif %}
								{% for page in products.paginator.page_range %}
									{% if products.number == page %}
										<li class="active">
											<span>{{page}}</span>
										</li>
									{% else %}
										<li>
											<a href="?page={{page}}">{{page}}</a>
										</li>
									{% endif %}
								{% endfor %}
								{% if page_number != products.paginator.num_pages %}
									<li><a href="?page={{products.next_page_number}}"><i class="fa fa-angle-right"></i></a></li>
								{% endif %}
							</ul>
						</div>
						{% endif %}
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Sign Up for the <strong>NEWSLETTER</strong></p>
							<form>
								<input class="input" type="email" placeholder="Enter Your Email">
								<button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
							</form>
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-pinterest"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

{% endblock %}