{% extends 'base.html'%}
{% load static %}
{% load template_filters %}

{% block main %}
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-7">
						<!-- Billing Details -->
						<div class="billing-details">
							<div class="section-title">
								<h3 class="title">Billing address</h3>
							</div>
							<form action="" method="POST">
								{% csrf_token %}
								<div class="form-group">
									<input class="input" id="first-name" value="{{user_profile.first_name}}" type="text" name="first-name" placeholder="First Name">
								</div>
								<div class="form-group">
									<input class="input" id="last-name" value="{{user_profile.last_name}}" type="text" name="last-name" placeholder="Last Name">
								</div>
								<div class="form-group">
									<input class="input" id="email" value="{{user_profile.user.email}}" type="email" name="email" placeholder="Email" readonly>
								</div>
								<div class="form-group">
									<input class="input" id="address" value="{{user_profile.address}}" type="text" name="address" placeholder="Address">
								</div>
								<div class="form-group">
									<input class="input" id="city" value="{{user_profile.city}}" type="text" name="city" placeholder="City">
								</div>
								<div class="form-group">
									<input class="input" id="country" value="{{user_profile.country}}" type="text" name="country" placeholder="Country">
								</div>
								<div class="form-group">
									<input class="input" id="zip" value="{{user_profile.zip_code}}" type="text" name="zip-code" placeholder="ZIP Code">
								</div>
								<div class="form-group">
									<input class="input" id="tel" value="{{user_profile.telephone}}" type="tel" name="tel" placeholder="Telephone">
								</div>
						</div>
						<!-- /Billing Details -->

						<!-- Shiping Details -->
						<div class="shiping-details">
							<div class="section-title">
								<h3 class="title">Shiping address</h3>
							</div>
						</div>
						<!-- /Shiping Details -->
						<!-- Order notes -->
						<div class="order-notes">
							<textarea class="input" placeholder="Order Notes"></textarea>
						</div>
						<!-- /Order notes -->
					</div>

					<!-- Order Details -->
					<div class="col-md-5 order-details">
						<div class="section-title text-center">
							<h3 class="title">Your Order</h3>
						</div>
						<div class="order-summary">
							<div class="order-col">
								<div><strong>PRODUCT</strong></div>
								<div><strong>TOTAL</strong></div>
							</div>
							<div class="order-products">
								{% for product in cart %}
								<div class="order-col">
									<div>{{product.quantity}}x <b>{{product.product.name}}</b></div>
									<div>${{ product.product.price |mul:product.quantity}}</div>
								</div>
								{% endfor %}
							</div>
							<div class="order-col">
								<div>Shiping</div>
								<div><strong>FREE</strong></div>
							</div>
							<div class="order-col">
								<div><strong>TOTAL</strong></div>
								<div><strong class="order-total">${{cart_total}}</strong></div>
							</div>
						</div>
						<div class="payment-method">
								<button  id="make-order" class="primary-btn order-submit" type="submit" style="width: 100%">
									<a href="{% url 'payment' user_id=user_id %}" style="color: #FFF; font-weight: bold">Place Order</a>
								</button>
						</div>
				</form>
					<!-- /Order Details -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock %}