{% load static %}

<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
   </head>
<body>
  <div class="wrapper">
    <h2>Registration</h2>
    <form action="#" method="POST">
      {% csrf_token %}
      <div class="input-box">
        {{form.username}}
      </div>
      <div class="input-box">
        {{form.email}}
      </div>
      <div class="input-box">
        {{form.password}}
      </div>
      <div class="input-box">
        {{form.password_2}}
      </div>
      <div class="policy">
        {{form.policy}}
        <h3>I accept all terms & condition</h3>
      </div>
      {% for error in form.errors.values %}
        <h3 style="color: red">{{error}}</h3>
      {% endfor %}
      <div class="input-box button">
        <input type="Submit" value="Register Now">
      </div>
      <div class="text">
        <h3>Already have an account? <a href="{% url 'signin' %}">Login now</a></h3>
      </div>
    </form>
  </div>
</body>
</html>